@media screen and (max-width:576px)  {

}



@media screen and (max-width:480px)  {

    .headerNav__sama{
        .navbar-brand {
            img {
                width: 60px;
                height: 60px;
            }
        }
    }


    
// Start style social box icon
.box-icon {
    background: none;
    box-shadow: none;
    border: none;
}



// End style social box icon

.contact__sama {
    .formContact__sama {
        .info-contact {
            h2 {
                font-size: 20px !important;

            }
            p {
                line-height: 22px;
                font-size: 16px;
                a {
                font-size: 16px;
                }
            }
        }
    }
}


}





@media screen and (max-width:800px)  {

}
@media screen and (min-width:577px)  {
    
}

@media screen and (min-width:768px)  {
    
}

@media screen and (min-width:992px)  {

}

@media screen and (min-width:1200px)  {
    
}
@media screen and (min-width:1400px)  {
    
}

